{{#each list}}
    <li class="friend__item">
        <div class="friend_photo__wrapper">
            <img src="{{photo_100}}" alt="{{first_name}} {{last_name}}">
        </div>
        <div class="friend__info">
            {{first_name}} {{last_name}}
        </div>
    </li>
{{/each}}